<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gene Set Plot</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'graph/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'about/css/about.css' %}"
    />
  </head>

  <body>
    <nav class="nav-bar">
      <div class="header-container">
        <div class="title">
          <a href="/"><h1>Gene Set Plot</h1></a>
        </div>
      </div>
      <div class="nav-links">
        <a class="nav-button" href="/">Input</a>
        <a class="nav-button" href="/help">Help</a>
        <a class="nav-button" href="/about">About</a>
      </div>
    </nav>
    <div class="about-container">
      <div class="bio-lab-container">
        <div class="bio-lab-header">
          <h1>Network Biology Labratory</h1>
          <img src="{% static 'about/images/UMass_Boston_logo.png' %}" />
        </div>
        <div>
          <p>
            The Network Biology Laboratory at the University of Massachusetts
            Boston focuses on modeling and analyzing biological systems at the
            molecular level. We develop methods and software tools to:
          </p>
          <ul>
            <li>
              Increase our understanding in biological molecular mechanisms.
            </li>
            <li>
              Make causal bridges between existing knowledge and new experiment
              results.
            </li>
            <li>
              Efficient visualization of known and hypothesized relationships
              between biological molecules.
            </li>
            <li>And more!</li>
          </ul>
          <p>
            See our other projects and learn more by clicking
            <a href="https://sites.google.com/view/umb-network-biology">here</a
            >!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
