<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive UMAP Plot</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'graph/css/style.css' %}"
    />
  </head>
</html>
<body>
  <nav class="nav-bar">
    <div class="header-container">
      <div class="title">
        <h1>Gene Set Plot</h1>
      </div>
    </div>
    <div class="nav-links">
      <a class="nav-button" href="/">Graph</a>
      <a class="nav-button" href="/help">Help</a>
      <a class="nav-button" href="/about">About Us</a>
    </div>
  </nav>
</body>
