Django==5.2.1
google-api-core==2.29.0
google-genai==1.59.0
gseapy==1.1.13
hdbscan==0.8.41
numpy==2.2.6
pandas==2.2.3
python-dotenv==1.2.1
scikit-learn==1.6.1
scipy==1.15.3
statsmodels==0.14.4
umap-learn==0.5.7
